.Form {
  margin-top: 1rem;
  font-size: 1rem;
  position: relative;
  z-index: 1000;
  padding: 1.5rem 2rem 0.5rem 2rem;
  background: rgba(255, 255, 255, 0.85);
}

.FormButtons > div > div > div {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.FormButtons button {
  flex: 0 1 30%;
}
