.Title {
  text-align: center;
  margin-bottom: 3rem;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.Form {
  margin-top: 2rem;
  font-size: 1rem;
  flex: 1 1 40%;
  max-width: 100%;
}
.Form > div {
  margin: 0 auto 1rem auto;
}

.FormButtons > div > div > div {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.FormButtons button {
  flex: 0 1 30%;
}

.FormButtons,
.FormItem {
  max-width: 90%;
  width: 400px;
  margin-bottom: 0.5rem;
}

.FormButtons button {
  margin-bottom: 1rem;
}

.FormButtons button:first-of-type {
  order: 1;
}

.FormItem label {
  min-width: 80px;
}

@media (min-width: 768px) {
  .Container {
    justify-content: center;
  }
}

@media (min-width: 960px) {
  .Container {
    justify-content: center;
  }

  h1.Title {
    margin-bottom: 3rem;
  }
  .FormButtons,
  .FormItem {
    margin-bottom: 1.5rem;
  }
  .FormButtons button:last-of-type {
    order: 2;
  }
}
