.PlusIcon {
  color: white;
  font-size: 2rem;
}

.Title {
  color: #fff;
  margin: 64px 0.5rem 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.Divider {
  border-color: rgba(255, 255, 255, 0.781);
  margin-bottom: 0;
}

.FormContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.FormContainer > div {
  display: flex;
  align-items: stretch;
}

.FormInput {
  color: black;
  flex: 1;
  margin: 0.5rem 0.3rem;
}

.FormInput:first-child {
  margin-top: 2rem;
}

.FormInput label {
  color: #fff;
}

.SwitchContainer.FormInput,
.DistanceContainer.FormInput {
  margin-top: 1rem;
}

.Switch {
  color: #fff;
}
