.About ul li:first-child {
  margin-top: 0.5rem;
}

.SocialNetworkIcon {
  margin-right: 0.3rem;
}

.SocialNetworkList li {
  list-style: none;
}

.ImageDecoration {
  display: none;
}

@media (min-width: 1200px) {
  .ImageDecoration {
    display: block;
    width: 300px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    right: 2rem;
    z-index: -1;
  }
}
