*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: #ac5d14;
  --main-washed: #e2e4f6;
}

body {
  background: var(--main-washed);
  overflow-x: hidden;
}

.ant-select:not(.ant-select-disabled):hover,
.ant-select-selector,
.ant-input:focus,
.ant-input-number:focus,
.ant-input-number-focused,
.ant-input-focused,
.ant-input:hover {
  border-color: var(--accent) !important;
}
