.Table {
  margin-top: 3rem;
  flex: 1 1 40%;
  overflow-x: auto;
}

.DeleteIcon {
  cursor: pointer;
  color: #880101;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .Table {
    margin-top: -0;
    margin-right: 3rem;
  }
}
